<div class="modal fade" id="form_new" tabindex="-1" role="dialog" aria-labelledby="new post" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new post">Add new post <br> (preview only: your post will not be saved!)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/postnewarticle">
          <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="another title" name="title">
          </div>
          <div class="form-group">
            <label for="contentInput">Content</label>
            <textarea class="form-control" id="contentInput" rows="3" name="content"></textarea>
          </div>
          <div class="form-group">
            <label for="photoUrlInput">Photo url</label>
            <input type="text" class="form-control" id="photoUrlInput" placeholder="www.googleimage.com/spongebob.png" name="photo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">add post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
