<nav class="navbar navbar-dark bg-info sticky-top mb-4">
    <span class="navbar-brand" style="font-family: impact; font-size: 30px">SUPER POST APP</span>
    <form class="form-inline" action="/search">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="input-group-text" id="navsearch"><i class="fas fa-search"></i></button>
        </div>
        <input type="text" name="search" class="form-control" placeholder="search title or content" aria-label="search" aria-describedby="navsearch">
      </div>
    </form>
  </nav>

